@{
    ViewBag.Title = "Lister les utilisateurs";
}

<h2>@ViewBag.Title.</h2>

<div style="margin:auto">
    <table id="list" class="table table-striped table-hover dt-responsive">
        <thead>
            <tr>
                <td>Matricule</td>
                <td>Prénom</td>
                <td>Nom</td>
                <td>Métier actuel (dernier)</td>
                <td>Rôle (dernier)</td>
                <td>Entreprise</td>
                <td>Date d'entrée dans l'entreprise</td>
            </tr>
        </thead>
    </table>
</div>

@section css{
<link href="//cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css" rel="stylesheet"/>
    }

@section scripts{
    <script src="//cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#list').DataTable({
                "ajax": {
                    "url": "/Account/JsonList",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "Pseudo", "autowidth": true },
                    { "data": "firstName", "autowidth": true },
                    { "data": "lastName", "autowidth": true },
                    { "data": "JobName", "autowidth": true },
                    { "data": "userRole", "autowidth": true },
                    { "data": "CompanyName", "autowidth": true },
                    { "data": "firstDay","autowidth": true },
                ]
            })
        })
    </script>
}