@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    This project was made during a .NET training in Université de Lille 1 by:
    <ul>
        <li>F. DUBIEZ</li>
        <li>D. JOSIAS</li>
    </ul>
    Don't hesitate to check out their Linkedin account to recruit them, <br />
    <strong>they're the top notch of whatever it is you're looking for!</strong>  <br />
    No kidding, dude! 

</p>
