@{
    ViewBag.Title = "Accueil";
}

<div class="jumbotron">
    <h1>Projet ASP.NET MVC 5</h1>
    <p class="lead">Création d'une application de gestion des utilisateurs.</p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>
      
<div class="row">
    <div class="col-md-4">
        <h2>Création des utilisateurs</h2>
        <p>
            En attendant qu'un webservice vienne alimenter automatiquement la base des utilisateurs, il
            vous est demandé de créer une interface permettant de créer les utilisateurs. Cette interface
            permettra de saisir les données suivantes:
            <ul>
                <li>Nom</li>
                <li>Prénom</li>
                <li>Date de naissance</li>
                <li>Date d'entrée dans l'entreprise</li>
            </ul>
            
        </p>
        <p><!--<a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Tester &raquo;</a> -->
            @Html.ActionLink("Tester", "Login", "Account", new { @class = "btn btn-default" })
        </p>
    </div>
    <div class="col-md-4">
        <h2>Ajout d'un métier</h2>
        <p>Il sera possible de rajouter un métier à un utilisateur crée. Une page de recherche permettra de 
        retrouver l'utilisateur voulu en se basant sur son matricule.
        Les métiers seront affichés ensuite par famille pour permettre une organisation ergonomique.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Tester &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Ajout d'un rôle</h2>
        <p>Il est possible d'attribuer un ou plusieurs rôles à un utilisateur, à condition qu'un métier lui ait été attrivué auparavant.
        Si aucun métier n'est saisi, un message d'erreur sera affiché. Une liste de rôle est fournie par défaut. Le rôle ci dessous seront incompatibles deux a deux.
        Un message d'erreur signalera l'erreur. Un rôle ne peut être supprimé.
        <ul>
            <li>Responsable fonctionnel - Référent fonctionnel</li>
            <li>Responsable technique - Référent technique</li>
            </ul></p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Tester &raquo;</a></p>
    </div>
</div>
